<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verified</title>
</head>
<body>
    <h2>Congrats!, your email has been verified</h2>
    <p>To go to the Login page click <a href="/login">here.</a></p>
</body>
</html>