<hr class="line">
<div class="footer">
    <div class="fotset">

        <h3 class="about" id="about">About Us</h3>
        <!-- <h3 class="about">Social Links</h3> -->
        <div class="icon">
            <i class="fa-solid fa-location-arrow" class="icon-box "></i>
            <p class="foot">MNNIT Allahabad ,Prayagraj</p>
        </div>
        <div class="icon">
            <i class="fa-sharp fa-solid fa-phone"></i>
            <p class="foot">0731-2756332</p>
        </div>
        <div class="icon">
            <i class="fa-solid fa-mobile-screen-button"></i>
            <p class="foot">9691405502</p>
        </div>
        <div class="icon">
            <i class="fa-sharp fa-solid fa-envelope"></i>
            <p class="foot">mail@gmail.com</p>
            <div class="social">
                <!-- <h2>Social Link</h2> -->
                <div class="social-box">
                    <a href="https://www.instagram.com/accounts/login/" target="_blabn"><i class="fa-brands fa-instagram" id="insta"></i></a></i>
                </div>
                <div class="social-box">
                    <a href="#"><i class="fa-brands fa-facebook" id="facebook"></i></a>
                </div>
                <div class="social-box">
                    <a href="#"><i class="fa-brands fa-twitter" id="twitter"></i></a>
                </div>
                <div class="social-box">
                    <a href="#"><i class="fa-brands fa-google" id="google"></i></a>
                </div>
            </div>
        </div>

        <hr class="footerline">
        <footer>

            <p class="para">All trademarks are properties of their respective owners. 2008-2023 &copy canteen<sup>
                    TM</sup> Ltd. All rights reserved.</p>
        </footer>
    </div>

</div>

</body>

</html>