<html>
    <head>
        <title>Add Food Item</title>
    </head>
    <body>
        <form action="/additem" method="post">
            <label>Name the item</label>
            <input type="text" name="itemName"><br/>
            <label>Set Price</label>
            <input type="number" name="price"><br/>
            <label>Description</label>
            <textarea rows=4 cols="10" name="description"></textarea><br/>
            <button type="submit">Submit</button>
        
        </form>
    </body>
</html>