<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" href="login_css/logo.jpg">
    <link rel="stylesheet" href="login_css/login.css">
</head>
<body>
    <img src="/login_css/newimage.jpg" alt="background" >
    <center>
        <div class="login">
            <h3>Login</h3>
            <form action="/login" method="post">
                <p>Enter your e-mail</p>
               <input type="text" name="email" id="user" required><br>
                <p>Password</p>
               <input type="password" name="password" id="user" required><br>
                <button class="btn" name="submit" type="Create">Login</button>
            </form>
            <p class="nothave">Don't have account ? <a href="register" target="_blank">Sign up</a></p>
        </div>
    </center>
</body>
</html>